/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
  background-color: rgb(17, 17, 17);
}

/*============= TOP BAR HEADER =============*/

.top-bar{
  background: #03023d;
  height: 2.8rem;
  padding: .5rem 0;
}

.top-bar a{
  color:white;
  text-decoration: none;
  font-size: 1.1rem;
}

.content{
  padding: 16px;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content{
  padding-top: 102px;
}

/* Contact Media 
/Setting up Round Icons*/

.fa{
  padding: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/*Linked In*/
.fa-linkedin-in{
  font-size: 30px;
  background: #007bb5;
  color: white;
  border-radius: 10%;
}

.fa-linkedin-in:hover{
  opacity: 0.7;
}

ul.social{
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}

/*Spaces out the logos of each media*/
ul.social li{
  margin: 0 auto;
}

footer{
  background-color: #383838;
  padding:1rem 2rem 3rem;
}

footer .svg-inline--fa{
  font-size: 2.3rem;
}

.projectCarousel
{
  width: 50%;
  margin-left: 25%;
}

/*============= NAVIGATION =============*/

.navbar-brand img {
  height: 3rem;
}

.navbar{
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0 ,0, .3);
  z-index: 1;
}

.nav-item{
  padding: .5rem;
}

.nav-link{
  color: #5b5555!important;
}


.nav-link.active,
.nav-link:hover{
  color: #4981b3!important;
}

/*============= CAROUSEL =============*/

#Project1{
  box-shadow: 0 1rem 1rem rgba(0, 0, 0 .1);
}

#carousel{
  box-shadow: 0 1rem 1rem rgba(0, 0, 0 .1);
}

.project-inner{
  max-height: 38rem !important;
}

.project-item-next,
.project-item-prev,
.project-item.active{
  transition: transform .4s ease;
}

.project-caption{
  position: absolute;
  top: 80%;
  text-transform: uppercase;
}


/*---Change Carousel Transition Speed --*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
  transition: transform .4s ease;
}


/*-- Carousel Content --*/

.carousel-caption{
  position: absolute;
  top: 80%;
  text-transform: uppercase;
}

.bg-custom{
  background-color: rgba(0, 0, 0, .4);
  color: white;
  border-radius: 1rem;
}

.bg-custom-two{
  background-color: rgb(138, 138, 138);
  color: white;
  border-radius: 1rem;
  border-style: hidden;
}

.carousel-caption h1{
  font-size: 3.0rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}


.border-primary{
  border-top: .2rem solid #4981b3!important;
}
/*===== FIXED BACKGROUND IMG =====*/

/*===== FIXED SlideShow Container =====*/
/* Slideshow container */
.slideshow-container {
  position: relative;
}

.slideshow-container_2 {
  position: relative;
}

.slideshow-container_3 {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides_2 {
  display: none;
}

.mySlides_3 {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.cursor_2 {
  cursor: pointer;
}

.cursor_3 {
  cursor: pointer;
}

/* Next & previous buttons */
.prev_slide,
.next_slide {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container-slide {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

/* Container for image text */
.caption-container-slide_2 {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

/* Container for image text */
.caption-container-slide_3 {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column_slide {
  float: left;
  width: 33.33%;
}

/* Six columns side by side */
.column_slide_2 {
  float: left;
  width: 33.33%;
}

/* Six columns side by side */
.column_slide_3 {
  float: left;
  width: 33.33%;
}

/* Add a transparency effect for thumnbail images */
.demo_1 {
  opacity: 0.6;
}

.active_1,
.demo_1:hover {
  opacity: 1;
}

/* Add a transparency effect for thumnbail images */
.demo_2 {
  opacity: 0.6;
}

.active_2,
.demo_2:hover {
  opacity: 1;
}

/* Add a transparency effect for thumnbail images */
.demo_3 {
  opacity: 0.6;
}

.active_3,
.demo_3:hover {
  opacity: 1;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/*-- Emoji Navbar --*/


/* Articles
*/

article{
}

/*============= FOOTER =============*/



/*============= SOCKET =============*/



/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}

@media (min-width: 768px) {
  .container-small {
      width: 300px;
  }

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}